@page
@model OracleWebApplication.Pages.Account.AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
}

<div class="text-center">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p>You do not have permission to access this resource.</p>
</div>
