@page
@model OracleWebApplication.Pages.Account.ForgotPasswordConfirmationModel
@{
    ViewData["Title"] = L["ForgotPwConf_Title"];
}

<div class="row justify-content-center">
    <div class="col-md-5 text-center">
        <h1>@ViewData["Title"]</h1>
        <hr />
        <div class="alert alert-success">
            <strong>@L["CheckEmail"]</strong><br />
            @L["ForgotPwConf_Message"]
        </div>
        <a asp-page="/Account/Login" class="btn btn-outline-primary">@L["ForgotPw_BackToLogin"]</a>
    </div>
</div>
