@page
@model OracleWebApplication.Pages.Account.ResetPasswordConfirmationModel
@{
    ViewData["Title"] = L["ResetPwConf_Title"];
}

<div class="row justify-content-center">
    <div class="col-md-5 text-center">
        <h1>@ViewData["Title"]</h1>
        <hr />
        <div class="alert alert-success">
            <strong>@L["ResetPwConf_Message"]</strong>
        </div>
        <a asp-page="/Account/Login" class="btn btn-primary">@L["ResetPwConf_SignIn"]</a>
    </div>
</div>
